<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookings</title>
     <link rel="stylesheet" href="/output.css" />
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <h1>Bookings page will update soon...</h1>
</body>
</html>