<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/contact.css" />
    <title>Contact</title>
</head>

<body>
    <header>
        <h1 class="main-title">Contact Us</h1>
    </header>

    <nav class="footer-nav">
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/favorite">Favourite</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
            <li><a href="/host/add-home">Add Home</a></li>
            <li><a href="/host/host-homes">Host Homes</a></li>
        </ul>
    </nav>

    <section class="footer-links">
        <div class="footer-column">
            <h3>Company</h3>
            <a href="/about">About Us</a>
            <a href="/form">Contact Team</a>
        </div>
        <div class="footer-column">
            <h3>Quick Links</h3>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
        </div>
        <div class="footer-column">
            <h3>Social</h3>
            <a href="https://github.com/tabresh04" target="_blank">
                <img src="/images/GitHub-Mark.png" alt="GitHub" width="24"> GitHub
            </a>
            <a href="https://www.linkedin.com/in/shaikh-tabresh-3686a926b/" target="_blank">
                <img src="/images/linkedIn.png" alt="LinkedIn" width="24"> LinkedIn
            </a>
        </div>
    </section>

    <footer class="footer-bottom">
        <p>Created by Tabresh &copy; 2025</p>
    </footer>
</body>

</html>